@import "../variables.module.scss";

.ctas{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .splide__track{
        overflow: hidden;
        .splide__slide{
            width: 216px !important;
            height: auto;
            padding-left: 16px;

            &:last-child{
                width: 232px !important;
            }
        }
    }

    .splide__pagination{
        position: static;

        .splide__pagination__page{
            background-color: $grey;
            opacity: 1;

            &.is-active{
                background-color: $white;
                transform: scale(1);
            }
        }
    }
}