@import "../variables.module.scss";

.record-button{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;

    .record-button-wrapper{
        width:48px;
        height: 48px;
        border-radius: 16px;
        background-color: $dark;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        animation: variation 3s infinite alternate;

        @keyframes variation {
            0% {
                background-color: $dark;
                scale: 1;
            }
            100% {
                background-color: $grey-black;
                scale: 1.05;
            }
        }

        .record-button-icon{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $accent;
            background-image: $gradient;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            animation: rgb 10s infinite;

            @keyframes rgb {
                0% {
                    background-color: $accent;
                }
                16% {
                    background-color: blue;
                }
                87% {
                    background-color: orange;
                }
                100%{
                    background-color: $accent;
                }
            }
        }
    }
}   